@import "fonts";
@import "vars";
@import "global";
@import "reset";
@import "libs";
@import "colors";
/* ----- Components ----- */

// @import "./css-modules/_modal";
// @import "./css-modules/_swiper";
// @import "./css-modules/accordion/accordion-vertical";
// @import "./css-modules/accordion/accordion-horizontal";
// @import "./css-modules/accordion/accordion-simple";

/* ---------- MARGIN ONLY TOP/LEFT ---------- */

/* Delete this styles, it's for example only */
.text {
    display: flex;
    line-height: 175%; /* 42/24 */
    font-size: 2.125rem; /* px to rem - shift + alt + s */
}
